.mainbar{
	#secondary-content{
		height: 100%;
		left: -100%;
		position: fixed;
		top:0;
		width: @size__site-sidebar;
		z-index: 10;
		background: url(images/menu-bg-default.png) no-repeat bottom center;
		background-size: cover;
		max-width: 100%;
		overflow-y: auto;
		border-right: 1px solid rgba(0,0,0,.75);
		.text-shadow();
		#masthead{
			background-color: rgba(0,0,0,.5);
			min-height: 100%;
			position: absolute;
			.some{
				overflow-y: auto;

			}
		}
	}
	.content-area{
		padding-left: 0px;
	}
}


.menu-visible{
	.mainbar();
	#secondary-content{
		left: 0%;
	}
	.content-area{
		padding-left: @size__site-sidebar;
	}
}

.content-width{
	max-width: @size__site-content;
	width: 100%;
	margin: 0 auto;
}

.post-title{
	.text-shadow();
	color: white;
	font-weight: 700;
	text-decoration: none;
	text-transform: uppercase;
	word-wrap:break-word;
}

#secondary{
	width: @size__site-sidebar;
}
.menu-hidden{
	.mainbar();
}
.sticky {
}
.hentry {
	margin: 0 0 1.5em;
}
.byline,
.updated {
	display: none;
}
.single .byline,
.group-blog .byline {
	display: inline;
}
.page-content,
.entry-content,
.entry-summary {
	margin: 0;
}
.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.hentry{
	margin:0;
}

/**
* Home Styles for Collage images
**/

.home{
	article{
		float: left;
		width: 20%;
		overflow: hidden;
		.entry-header{
			min-height: 350px;
			border-bottom: 0;
			position: relative;
			.bg{
				.transition(all 2.5s);
				.scale(1);
				background-color: white;
				background-position: center center;
				background-size: cover;
				height: 100%;
				left: 0px;
				position: absolute;
				top: 0px;
				width: 100%;
			}
			.mask{
				.linear-gradient(0deg,  rgba(0,0,0,.85), rgba(0,0,0,0));
				.transition(all 1s);
				height: 100%;
				left: 0px;
				position: absolute;
				top: 0px;
				width: 100%;
			}
			.holder{
				bottom: 0px;
				display: inline-block;
				max-width: 100%;
				position: absolute;
				.content{
					padding: 20px;
					.entry-title{
						line-height: 1.25em;
						a{
							.post-title();
						}
					}
					.category{
						margin-bottom: 10px;
						a{
							.link-category();
						}
					}
				}
			}
		}
		.isotope:after {
		  content: '';
		  display: block;
		  clear: both;
		}
		&:hover{
			.entry-header{
				.bg{
					.scale(1.05);
					.transition(all 2.5s);
				}
				.mask{
					.opacity(0);
					.transition(all 1s);
				}
				.holder{
					.content{
						.entry-title{
						}
					}
				}
			}
		}
	}
}

.three-cols{
	article{
		&.x1{width: 33.333333%; .entry-title{.font-size(3)}}
		&.x2{width: 66.666666%; .entry-title{.font-size(4.5)}}
	}
}
.four-cols{
	article{
		&.x1{width: 25%; .entry-title{.font-size(3)}}
		&.x2{width: 50%; .entry-title{.font-size(4.5)}}
		&.x3{width: 75%; .entry-title{.font-size(4.7)}}
		&.x4{width: 100%; .entry-title{.font-size(4.9)}}
	}
}
.five-cols{
	article{
		&.x1{width: 20%; .entry-title{.font-size(2.5)}}
		&.x2{width: 40%; .entry-title{.font-size(4)}}
		&.x3{width: 60%; .entry-title{.font-size(4)}}
		&.x4{width: 80%; .entry-title{.font-size(4)}}
		&.x5{width: 100%; .entry-title{.font-size(4)}}
	}
}

/**
* Single Post
**/

.single-post{
	.mainbar();
	article{
		.entry-header{
			background-position: center center;
			background-size: cover;
			min-height: 500px;
			color: white;
			.text-shadow();
			.holder{
				height: 100%;
				position: relative;
				.content-width();
				.content{
					&.left-bottom{
						padding: 50px 25% 50px 50px;
					}
					&.right-bottom{
						padding: 50px 50px 50px 25%;
						text-align: right;
					}
					position: absolute;
					bottom: 0px;
					width: 100%;
					.entry-title{
						.post-title();
					}
				}
			}
		}
	}
}